In [0]:
import pandas as pd
import numpy as np
import re
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [0]:
df_train=pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/train.csv')
df_test=pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/test.csv')
df=pd.concat([df_train,df_test], ignore_index=True)

In [24]:
df.tail()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
1304,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236
1305,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758
1306,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262
1307,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309
1308,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668

In [25]:
df.isnull().sum()

Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
Ticket            0
dtype: int64

-----------------------

In [26]:
df['Survived'].value_counts()

0.0    549
1.0    342
Name: Survived, dtype: int64

In [0]:
df=df.dropna(subset=['Survived'])

In [28]:
i=0
df['Has_Cabin']=""
for x in df['Cabin'].isnull():
  if x==True:
    df.loc[i,'Has_Cabin']=0
    #print(df.loc[i,'Has_Cabin'])
  else:
    df.loc[i,'Has_Cabin']=1
    #print(df.loc[i,'Has_Cabin'])
  i=i+1

df['Has_Cabin'].value_counts()

0    687
1    204
Name: Has_Cabin, dtype: int64

------------------------------------------------------------

In [29]:
df['Title']=df['Name'].apply(lambda x: re.search('([A-Z][a-z]+)\.', x))
df['Title']=df['Title'].apply(lambda x: x.group())
print(df['Title'].value_counts())

Mr.          517
Miss.        182
Mrs.         125
Master.       40
Dr.            7
Rev.           6
Col.           2
Major.         2
Mlle.          2
Capt.          1
Ms.            1
Don.           1
Sir.           1
Countess.      1
Lady.          1
Jonkheer.      1
Mme.           1
Name: Title, dtype: int64

In [0]:
df['Title'] = df['Title'].replace(['Don.', 'Dona.', 'Rev.', 'Dr.', 'Major.', 'Lady.', 'Sir.', 'Col.', 'Capt.', 'Countess.', 'Jonkheer.','Mme.','Mlle.','Ms.'],'Special')

In [31]:
df['Title'].value_counts()

Mr.        517
Miss.      182
Mrs.       125
Master.     40
Special     27
Name: Title, dtype: int64

----------------

In [0]:
df['Age']=df['Age'].fillna(df['Age'].median())

In [33]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [0]:
df['Embarked'] = df['Embarked'].fillna('S')

In [35]:
df.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Has_Cabin,Title
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,0,Mr.
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,1,Mrs.
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,0,Miss.
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,1,Mrs.
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,0,Mr.

---------------

In [0]:
df['Categorical_age'] = pd.qcut(df.Age, q=4, labels=False )
df['Categorical_fare']= pd.qcut(df.Fare, q=4, labels=False)

In [0]:
df.drop(['Cabin','Name','PassengerId','Ticket','Age','Fare','SibSp','Parch'],axis=1,inplace=True)

In [38]:
df.head()

,Embarked,Pclass,Sex,Survived,Has_Cabin,Title,Categorical_age,Categorical_fare
0,S,3,male,0.0,0,Mr.,0,0
1,C,1,female,1.0,1,Mrs.,3,3
2,S,3,female,1.0,0,Miss.,1,1
3,S,1,female,1.0,1,Mrs.,2,3
4,S,3,male,0.0,0,Mr.,2,1

-------

In [39]:
#One-Hot Encoding

df = pd.get_dummies(df)
df.head()

,Pclass,Survived,Has_Cabin,Categorical_age,Categorical_fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Title_Master.,Title_Miss.,Title_Mr.,Title_Mrs.,Title_Special
0,3,0.0,0,0,0,0,0,1,0,1,0,0,1,0,0
1,1,1.0,1,3,3,1,0,0,1,0,0,0,0,1,0
2,3,1.0,0,1,1,0,0,1,1,0,0,1,0,0,0
3,1,1.0,1,2,3,0,0,1,1,0,0,0,0,1,0
4,3,0.0,0,2,1,0,0,1,0,1,0,0,1,0,0

-----

In [0]:
x = df.drop(['Survived'], axis = 1)
y = df['Survived']

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [0]:
model = LogisticRegression()

In [52]:
model.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [0]:
predict = model.predict(x_test)

In [55]:
accuracy_score = model.score(x_test, y_test)
print("The accuracy score is : {}".format(accuracy_score))

The accuracy score is : 0.8283582089552238